[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
django-bootstrap4 = "*"
pillow = "*"
django-storages = "*"
dropbox = "*"

[requires]
python_version = "3.5"
