{% extends 'learning_path_tracker/base.html' %}
{# load bootstrap tag library #}
{% load bootstrap4 %}



{% block content %}
<div class="row">
  <div class="col d-flex h-custom">
    <!-- content -->
    <div class="mx-auto my-auto" style="width: 50rem;">
      {% bootstrap_messages %}
      <!--Card-->
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title info">Write your next goal and take actions.</h5>
          <p>As everything starts from taking actions. So first set a goal and then take actions..</p>
      		<form action="{% url 'learning_path_tracker:new_topic' %}" method='post' class="form">
      			{% csrf_token %}
      			{% bootstrap_form form %}
      			{% buttons %}
      				<button  name='submit' class="btn btn-outline-info btn-custom">Take goal</button>
      			{% endbuttons %}
      		</form>
        </div>
      </div>
      <!--Card end  -->

    </div>
    <!-- content end -->
  </div>
</div>



{% endblock content %}
