{% extends "learning_path_tracker/base.html" %}
{% block content %}
<div class="row">
	<div class="col d-flex h-custom">
	<!--content  -->
	<div class="mx-auto my-auto" style="width: 50rem;">
		<!--Card-->
		<div class="card shadow">
			<div class="card-body">
				<h5 class="card-title info text-center my-3">{{user.username | title}}, all the goals that you take..</h5>
				<a class="btn btn-outline-info btn-custom float-right mr-3" href="{% url 'learning_path_tracker:new_topic' %}" role="button">New goal</a>
				<br><br>
				<ul class="list-group list-group-flush">
					{% for topic in topics %}
						<li class="list-group-item">
							<a href="{% url 'learning_path_tracker:topic' topic.id %}" class="info">
								{{topic}}
							</a>
						</li>
						{% empty %}
							<a href="#" class="list-group-item">You are not take any goal yet.</a>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!--Card end-->
	</div>
	<!--content end  -->
	</div>
</div>

{% endblock content %}
