{% extends 'learning_path_tracker/base.html' %}
<!-- Load the bootstrap tag library -->
{% load bootstrap4 %}
{% block content %}

<div class="row">
  <div class="col d-flex flex-column align-items-center justify-content-center h-custom">

    <!-- Card -->
    <div class="card shadow w-25">
      <h3 class="text-center account py-2">Sign in to LPT</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input name="next" type="hidden" value="{{next}}">
          <button type="submit" class="btn btn-outline-info btn-custom">Sign in</button>
          <a class="ml-2" href="{% url 'password_reset' %}">Forget Password?</a>
        </form>
      </div>
    </div>
    <!--Card end  -->
    <br>
    <p class="btn btn-block  w-25 mx-auto shadow">New to here?.<a href="{% url 'signup' %}" > signup</a></p>
    <br><br><br>
    <ul class="list-inline text-center" style="margin-bottom:30px;">
      <li class="list-inline-item">Terms</li>
      <li class="list-inline-item">Privecy</li>
      <li class="list-inline-item">Security</li>
      <li class="list-inline-item">Contact LTP</li>
    </ul>

  </div>
</div>



{% endblock %}
