{% extends 'learning_path_tracker/base.html' %}
<!-- load bootstrap4 template tag library -->
{% load bootstrap4 %}

{% block title %}Password Change{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <br><br>
      <h3 class="text-center info">Password change</h3>
      <div class="card border-info  mb-3 w-50 mx-auto my-auto">
        <div class="card-body">
          <p class="card-title">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-outline-info btn-custom" type="submit" value="Change my password">
          </form>
        </div>
      </div>
    </div>
  </div>




{% endblock %}
