{% extends 'learning_path_tracker/base.html' %}

{% block title %}Password Change Successful{% endblock %}

{% block content %}
<div class="row">
  <div class="col d-flex flex-column align-items-center justify-content-center h-custom text-center">

      <div class="card border-info ">
        <div class="card-body">
          <h3 class="info">Password change successful</h3>
          <p>Your password was changed.So next time use that password to login.!!</p>
        </div>
      </div>

      <ul class="list-inline mt-3">
        <li class="list-inline-item">Terms</li>
        <li class="list-inline-item">Privecy</li>
        <li class="list-inline-item">Security</li>
        <li class="list-inline-item">Contact News</li>
      </ul>

  </div>

</div>



{% endblock content %}
