{% extends 'learning_path_tracker/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block content %}
<div class="row">

  <div class="col">
    <br><br>

    <div class="card mb-3 mx-auto w-50 shadow">
      <br>
      <h3 class="text-center account info">Change your information</h3>
      <div class="card-body">
        <h5 class="info">Password</h5>
        <p>If you need to change your password , then change it securely here. <a class="btn btn-outline-info btn-custom" href="{% url 'password_change' %}">Change</a></p>
        <form action="" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-outline-info btn-custom" type="submit">Save</button>
        </form>

      </div>
    </div>
  </div>

</div>

{% endblock %}
